<html>

<head>
    <title>
        <%=title %>
    </title>
</head>

<body>
    <div>
        <h1>To Do App</h1>

        <!-- make form to add task -->
        <form action="/create-task" method="POST">
            <table class="table">
                <thead>
                    <tr class="table-active">
                        <th>Add task</th>
                        <th>category</th>
                        <th>date</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th>
                            <input type="text" name="description" placeholder="what i can remeind you?" required>

                        </th>
                        <td>
                            <select name="category" required>

                                <option>Personal</option>
                                <option>School</option>
                                <option>Work Outside</option>
                                <option>Home Cleaning</option>
                                <option>Other</option>
                            </select></td>
                        <td>
                            <input type="date" name="date" required>
                        </td>
                        <td>
                            <input type="submit" class="submit-button" id="add" value="Add Task">
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

    <div>
        <h1>Task List</h1>

        <form action="/delete-task" method="GET">
            <table class="table">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Task</th>
                        <th>Category</th>
                        <th>due date</th>
                    </tr>
                </thead>
                <% for(let i of task){ %>
                    <tr>

                        <td>
                            <input type="checkbox" name="<%= i._id %>"></td>
                        <td>
                            <p id="task-description">
                                <%= i.description %>
                            </p>
                        </td>
                        <td>
                            <p id="task-category"></p>:
                            <%= i.category %>
                        </td>
                        <td>
                            <p id="due-date">:
                                <%= i.date %>
                            </p>
                        </td>
                    </tr>
                    <% } %>
            </table>
            <div><input type="submit" class="delete-button" value="Delete Task"></div>
        </form>
    </div>
</body>

</html>